.profile__info-top-block {
    display: flex;
    padding: 0 0 8px;
    align-items: baseline;
}

@media screen and (max-width: 740px) {
    .profile__info-top-block {
        display: grid;
        grid-template-columns: 24px max-content 24px;
        grid-gap: 0 18px;
        padding: 0 24px 8px;
    }
}

@media screen and (max-width: 480px) {
    .profile__info-top-block {
        grid-template-columns: 18px max-content 18px;
        grid-gap: 0 10px;
        padding: 0 24px 7px;
    }
}